<ion-content class="ion-padding">
    <ion-row class="centered-card">
        <ion-col size="12" size-md="6" size-lg="4">
            <ion-card>
                <ion-card-content>
                    <!-- Mostrar el formulario de inicio de sesión si showLogin es verdadero -->
                    <ng-container *ngIf="!registerMode; else showRegister">
                        <ion-item>
                            <ion-label position="floating">Correo electrónico</ion-label>
                            <ion-input type="email" [(ngModel)]="email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Contraseña</ion-label>
                            <ion-input type="password" [(ngModel)]="password"></ion-input>
                        </ion-item>
                        <ion-button expand="block" (click)="login()">Iniciar sesión</ion-button>
                        <ion-button expand="block" color="success" (click)="toggleForm()">Registrarse</ion-button>
                    </ng-container>
                    <!-- Mostrar el formulario de registro si showLogin es falso -->
                    <ng-template #showRegister>
                        <ion-item>
                            <ion-label position="floating">Nombre</ion-label>
                            <ion-input type="text" [(ngModel)]="name"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Nombre de usuario</ion-label>
                            <ion-input type="text" [(ngModel)]="userName"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Correo electrónico</ion-label>
                            <ion-input type="email" [(ngModel)]="email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Contraseña</ion-label>
                            <ion-input type="password" [(ngModel)]="password"></ion-input>
                        </ion-item>
                        <ion-button expand="block" (click)="register()">Registrarse</ion-button>
                    </ng-template>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>